@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    .clgImg{
        background-image: url("./components/education/image/clg1.jpg");
        background-size: cover;
        background-position: center;
        
    }
    .schImg{
        background-image: url("./components/education/image/12th1.jpg");
        background-size: cover;
        background-position: center;
    }
    .sch2Img{
        background-image: url("./components/education/image/10th3.jpg");
        background-size: cover;
        background-position: center;
    }
    .backG{
        background-image: url("./components/education/image/eg2.jpg");
        background-size: cover;
    }
    .contactbg{
        background-image: url("./components/education/image/contact.jpg");
        background-size: cover;
        border-radius: 25px;
        background-position: center;
    }
}